@import "../../App.scss";
.navigation_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: $clr-black;
  transition: $transition;

  margin: 2rem 0;
  &:hover {
    color: $clr-hover;
  }
  h3 {
    padding: 0 0.5rem;
    margin-bottom: 0;
  }
  .navigation_btn_icon {
    font-size: 2rem;
    // font-size: 1.5rem;
    // margin-bottom: 0.2rem;
  }
}

@media screen and (min-width: 800px) {
  .navigation_btn_icon {
    // font-size: 2.5rem;
  }
}
