@import "../../../App.scss";
main {
  min-width: 100%;
  min-height: calc(100vh - 7rem);
  /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(calc(var(--vh, 1vh) * 100) - 7rem);
  background-color: $clr-background;
  padding: 5rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  color: $clr-white;
}

.project-container {
  height: 250px;
  overflow: hidden;
  background-color: $clr-black;
  margin: 0;
  flex: 1 1 50%;
  position: relative;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .project-footer {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      color: $clr-white;
    }
  }
}

.project-overrelay {
  width: 100%;
  height: 200px;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  transition: $transition;
  padding: 0.5rem;
  h3,
  h4 {
    color: $clr-white;
  }
}

@media screen and(min-width: 576px) {
  .project-container {
    max-width: 350px;
    flex-basis: 33.33%;
  }
}

@media screen and(min-width: 768px) {
  .project-container {
    flex-basis: 25%;
    height: 200px;
    &:hover .project-overrelay {
      transform: translateY(-250px);
    }
  }
}

@media screen and(min-width: 992px) {
  .project-container {
    flex-basis: 20%;
  }
}
