@import "../../../App.scss";

.contact-section {
  min-height: calc(100vh - 7rem);
  /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(calc(var(--vh, 1vh) * 100) - 7rem);
  padding: 4rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $clr-background;
  .contact-links {
    padding-top: 2rem;
    a {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      text-decoration: none;
      color: $clr-grey-1;
      font-size: 1.25rem;
      transition: $transition;
      &:hover {
        color: $clr-hover;
      }
    }
  }
}
