@import "../../App.scss";

nav {
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: $transition;
  z-index: 10;
}

.navbar {
  height: 100%;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: wheat;
  padding: 0 2rem;
  background-color: transparent;
  direction: ltr;
}
.nav-logo {
  height: 3.5rem;
  // left: 1rem;
}

.nav-btn {
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.02rem;
  background-color: $clr-white;
  color: $clr-black;
  transition: $transition;
  box-shadow: $light-shadow;
  // right: 1rem;
}

.nav-btn:hover {
  color: $clr-white;
  background-color: $clr-hover;
}
