@import "../../App.scss";

.projects-container {
  min-width: 100%;
  min-height: calc(100vh - 4rem);
  display: grid;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.projects-container_item {
  flex-grow: 1;
}
