@import "../../App.scss";

.section {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: 50vh;
  flex-grow: 1;
}

.section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-text {
  position: absolute;
  // width: calc(100% - 3rem);
  // overflow: hidden;
  left: 1rem;
  right: 1rem;
  bottom: 0.3rem;
}

.section-text_title {
  text-transform: uppercase;
  font-weight: bold;
}

.section-text_title {
  color: $clr-black;
  text-shadow: $dark-shadow;
}

.section-text_subtitle {
  display: inline-block;
  color: $clr-black;
  text-shadow: $light-shadow;
  text-transform: capitalize;
  text-decoration: none;
  transform: $transition;
}

.section-text_subtitle:hover {
  color: $clr-hover;
}

@media screen and (min-width: 576px) {
  .section {
    width: 50%;
    height: 80vh;
  }
  .section-text {
    left: 1.3rem;
    right: 2rem;
    bottom: 1.3rem;
  }
}
