@import "../../../App.scss";
.singleProject-section {
  width: 100%;
  min-height: calc(100vh - 7rem);
  min-height: calc(var(--vh, 1vh) * 100 - 7rem);
  background-color: $clr-grey-10;
  padding-top: 5rem;
}
.singleProject-container {
  display: flex;
  flex-direction: column;
}

.projectSwiper {
  background-color: $clr-grey-9;
  border-radius: 0.3rem;
  padding: 2rem 0;
  width: 100% !important;
  height: 60vh !important;
  /* Fallback for browsers that do not support Custom Properties */
  // height: calc(var(--vh, 1vh) * 100));
  // position: relative;
  overflow: hidden;
  // box-shadow: $light_shadow;
  // flex-grow: 1;
  .projectSwiper_slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $clr-grey-1 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: $clr-grey-1 !important;
  }
}

.singleProject_info {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex-shrink: 0;
  .singleProject_text {
    h2 {
      text-transform: uppercase;
      font-weight: bold;
    }
    h3 {
      color: $clr-grey;
    }
  }
}

@media screen and (min-width: 800px) {
  .singleProject-container .projectSwiper {
    height: 75vh !important;
  }
}

@media screen and (min-width: 992px) {
  .singleProject-container {
    flex-direction: row-reverse;
    .singleProject_info {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
