@import "../../App.scss";

.sidebar {
  position: fixed;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 0;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 1s;
  overflow-x: hidden;
}

.sidebar.open-sidebar {
  padding: 1rem;
  width: 100vw;
}

// .close-sidebar {
//   width: 0;
// }

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: ltr;
}
.close-btn {
  // position: absolute;
  // right: 1rem;
  color: $clr-white !important;
  font-size: 2rem;
}

.nav-links {
  list-style-type: none;
  padding-top: 2rem;
}

.nav-link {
  color: $clr-white;
  transition: $transition;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.social-links {
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 2rem);
}

// .line {
//   background-color: $clr-white;
//   height: 0.01rem;
//   width: 95%;
//   margin: 0 auto;
//   margin-bottom: 1rem;
// }

.social-link {
  color: $clr-white;
  text-decoration: none;
  font-size: 1.25rem;
  transition: $transition;
  padding: 1rem;
  text-transform: capitalize;
}

.nav-link:hover,
.social-link:hover,
.close-btn:hover {
  color: $clr-hover !important;
}

.nav-link:visited,
.social-link:visited {
  color: $clr-white;
}

@media screen and (min-width: 576px) {
  .sidebar {
    max-width: 400px;
    opacity: 0.8;
  }
}
