@import "../../App.scss";

footer {
  height: 7rem;
  min-width: 100%;
  background-color: $clr-grey-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $clr-grey-5;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.footer-links a {
  color: $clr-grey-8;
  margin: 1rem 0.5rem;
  transition: $transition;
}

.footer-links a:hover {
  color: $clr-hover;
}

.footer_developer-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
