// Site developed by: Razieh Boroom | Razieh.Boroon@gmail.com
@import "-variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Tajawal:wght@300;900&display=swap");

@import url("http://fonts.googleapis.com/earlyaccess/scheherazade.css");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   // font-family: $ff-primary-en;
// }

// input [lang="en"] {
//   font-family: $ff-primary-en;
//   font-size: 12px;
// }

// input [lang="fa"] {
//   font-family: $ff-primary-fa;
//   font-size: 14px;
// }

h1,
h2,
h3,
h4 {
  // letter-spacing: var(--spacing-normal);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $ff-primary-en;
}
h1 {
  font-size: 2rem;
  letter-spacing: $spacing-title;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
h5 {
  margin-bottom: 1.25rem;
  // color: var(--clr-grey-4);
}
p {
  margin-bottom: 1.25rem;
  // color: var(--clr-grey-4);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.category-container {
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 576px) {
  .category-container {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
