$ff-primary: "Oswald", sans-serif;
$ff-secondary: "Permanent Marker", cursive;
$transition: all 0.3s ease-in-out;
$spacing: 0.1rem;
$radius: 0.3rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4);
$max-width: 1170px;
$clr-bej: #eff3f2;
$clr-white: #fff;
$clr-black: #111;
$clr-grey: #777;
$clr-hover: rgb(223, 64, 202);

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
