@import "../../App.scss";

.singleProject-container {
  width: 100%;
  min-height: calc(100vh - 7rem);
  min-height: calc(var(--vh, 1vh) * 100 - 7rem);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.singleProject_slider {
  // flex-grow: 1;
}

.singleProject_info {
  padding: 0.5rem 0.25rem;
}

.singleProject_info h2 {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .singleProject-container {
    flex-direction: row;
  }
}
